@model CasosDeUso.DTOs.Envio.ComentarioEnvioDTO
@using CasosDeUso.DTOs.Envio;

@{
    ViewData["Title"] = "AgregarComentario";
}

<h1>AgregarComentario</h1>

<div>
    <h2>
        @ViewBag.envio.Id , @ViewBag.envio.EmailCliente , @ViewBag.envio.EstadoEnvio , @ViewBag.envio.FechaRegistroEnvio , @ViewBag.envio.TipoEnvio
    </h2>

    <h4>Comentarios existentes</h4>

    @if (ViewBag.envio.Comentarios != null && ((IEnumerable<ComentarioEnvioDTO>)ViewBag.envio.Comentarios).Any())
    {
        <ul>
            @foreach (ComentarioEnvioDTO comentario in ViewBag.envio.Comentarios)
            {
                <li>@comentario.Fecha - @comentario.Comentario - @comentario.Empleado</li>
            }
        </ul>
    }
    else
    {
        <p>No se han realizado comentarios aún.</p>
    }


</div>


<h4>ComentarioEnvioDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AgregarComentario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" maxlength="64" required class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" required class="form-control" min="@ViewBag.envio.FechaRegistroEnvio.ToString("yyyy-MM-ddTHH:mm")" max="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" value="@(DateTime.Now.ToString("yyyy-MM-ddTHH:mm"))" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <input type="hidden" value="@ViewBag.envio.Id" name="EnvioId" />

            <h2>
                @ViewBag.ErrorMessage
            </h2>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Activos">Volver a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
