@using CasosDeUso.DTOs.Envio
@model Web.Models.RegistroEnvioViewModel

@{
    ViewData["Title"] = "AltaEnvio";
}

<h1>AltaEnvio</h1>

@if (Model != null && Model.Ciudades != null && Model.Agencias != null)
{
    <h4>RegistroEnvioViewModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AltaEnvio">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="EmailCliente" class="control-label"></label>
                    <input asp-for="EmailCliente"  class="form-control" />
                    <span asp-validation-for="EmailCliente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Peso" class="control-label"></label>
                    <input asp-for="Peso"  class="form-control" />
                    <span asp-validation-for="Peso" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="TipoEnvio" class="control-label pt-3">Tipo envío:</label>
                    <select id="TipoEnvio" name="TipoEnvio">
                        <option value="C">Común</option>
                        <option value="U">Urgente</option>
                    </select>
                </div>
                <div id="divComun" class="form-group pt-3">
                    <label for="age" class="control-label">Agencia:</label>
                    <select id="age" name="IdAgencia">
                        @foreach (AgenciaDTO a in (List<AgenciaDTO>)Model.Agencias)
                        {
                            <option value="@a.Id">@a.Nombre</option>
                        }
                    </select>


                </div>

                <div id="divUrgente">
                    <div class="form-group">
                        <label asp-for="direccion.Calle" class="control-label"></label>
                        <input asp-for="direccion.Calle"  class="form-control" />
                        <span asp-validation-for="direccion.Calle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="direccion.Numero" class="control-label"></label>
                        <input asp-for="direccion.Numero"  class="form-control" />
                        <span asp-validation-for="direccion.Numero" class="text-danger"></span>
                    </div>
                    <div class="pt-3">
                        <label for="ciud" class="control-label">Ciudad:</label>
                        <select id="ciud" name="IdCiudad">
                            @foreach (CiudadDTO a in (List<CiudadDTO>)Model.Ciudades)
                            {
                                <option value="@a.Id">@a.Nombre</option>
                            }
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="direccion.CodigoPostal" class="control-label"></label>
                        <input asp-for="direccion.CodigoPostal"  class="form-control" />
                        <span asp-validation-for="direccion.CodigoPostal" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group pt-3">
                    <input type="submit" value="Create" class="btn btn-primary " />
                </div>
            </form>
        </div>
    </div>
    <script>
        let tipo = document.querySelector("#TipoEnvio").value;

        if (tipo === "C") {
            document.querySelector("#divComun").style.display = "block";
            document.querySelector("#divUrgente").style.display = "none";
        } else {
            document.querySelector("#divComun").style.display = "none";
            document.querySelector("#divUrgente").style.display = "Block";
        }
        document.querySelector("#TipoEnvio").addEventListener("change", (e) => {
            var tipoEnvio = e.target.value;
            if (tipoEnvio === "C") {
                document.querySelector("#divComun").style.display = "block";
                document.querySelector("#divUrgente").style.display = "none";
            } else {
                document.querySelector("#divComun").style.display = "none";
                document.querySelector("#divUrgente").style.display = "Block";
            }
        });
    </script>

}

<h2>
    @ViewBag.ErrorMessage
</h2>
<div>
    <a asp-action="Activos">Envios Activos</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        
        

    }
}
