@model WebMVC.DTOs.Envio.EnvioDTO
@{
    ViewData["Title"] = "Detalles de mi Envio";
}

<h1>Detalles de mi Envio</h1>
@if(ViewBag.Error != null){
    <div class="alert alert-danger">@ViewBag.Error</div>
} else if(Model != null){
    <div>
        <h4>Envio</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Id)</dt>
            <dd class = "col-sm-10">@Html.DisplayFor(model => model.Id)</dd>

            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Tracking)</dt>
            <dd class = "col-sm-10">@Html.DisplayFor(model => model.Tracking)</dd>

            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.EmailCliente)</dt>
            <dd class = "col-sm-10">@Html.DisplayFor(model => model.EmailCliente)</dd>

            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.Peso)</dt>
            <dd class = "col-sm-10">@Html.DisplayFor(model => model.Peso)</dd>

            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.EstadoEnvio)</dt>
            <dd class = "col-sm-10">@Html.DisplayFor(model => model.EstadoEnvio)</dd>

            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.FechaRegistroEnvio)</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.FechaRegistroEnvio)</dd>

            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.TipoEnvio)</dt>
            <dd class = "col-sm-10">@Html.DisplayFor(model => model.TipoEnvio)</dd>

            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.FechaEntrega)</dt>
            <dd class = "col-sm-10">
                @if (Model.FechaEntrega != null)
                {
                    @Html.DisplayFor(m => m.FechaEntrega)
                }
                else
                {
                    <span class="text-muted">No entregado</span>
                }
            </dd>

            <dt class = "col-sm-2">@Html.DisplayNameFor(model => model.EnvioEficiente)</dt>
            <dd class = "col-sm-10">@(Model.EnvioEficiente ? "Sí" : "No")</dd>
        </dl>
		@if (Model.Comentarios?.Any() == true)
		{
			<h4>Seguimientos</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Comentario</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var c in Model.Comentarios)
					{
						<tr>
							<td>@c.Fecha</td>
							<td>@c.Comentario</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p class="text-muted">No hay seguimientos disponibles.</p>
		}
	</div>
}
<div>
    <a asp-action="ListarMisEnvios">Volver a Mis Envíos</a>
</div>